h1 {
    text-align: center;
}

footer {
    margin: 12px 0px;
    padding: 8px;
    font-style: italic;
    font-size: small;
    background-color: lightgreen;
}

.bruno-header {
    text-decoration: none;
    color: inherit;
    cursor: default;
}