<div class="commands">
  <button (click)="uploadImage()" [disabled]="!imageFile">Invia immagine</button>
  <button (click)="goToHome()">Ritorna alla home</button>
</div>

<div *ngIf="toastMessage" [ngClass]="{'toast-error': toastError, 'toast-success': !toastError}" class="toast">
  {{ toastMessage }}
</div>

<div tabindex="0" (paste)="onPaste($event)" class="upload-space">

  <img [src]="imageSrc"
    style="max-width:100%; max-height:800px;">
    
  <div>
    Incolla qui l'immagine del men&ugrave; (CTRL+V)
  </div>

</div>
