<input type="text" 
    placeholder="Il tuo nome" 
    [(ngModel)]="username"
    (keyup.enter)="addOrder()">
&nbsp;
<input type="text" 
    placeholder="Cosa vuoi mangiare?" 
    [(ngModel)]="article"
    (keyup.enter)="addOrder()">
&nbsp;
<button (click)="addOrder()">Aggiungi</button>

<ul>
    <li *ngFor="let order of orders">
        <span>{{ order.name }}: {{ order.article }}</span>
        <span>
            &nbsp;<button (click)="metoo(order)">Anch'io!</button>
            &nbsp;<button (click)="delete(order)">Cancella</button>
        </span>
    </li>

</ul>

<p>
    <button (click)="reset()">Cancella tutto</button>
    &nbsp;
    <button (click)="report()">Report</button>
</p>

<hr>

<div *ngIf="reportText">
  <h3>Report</h3>
  <pre>{{ reportText }}</pre>
</div>
